<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>final.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>56DA219A1D0C7CCD0087A1C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56DA21B11D0C7CCE0087A1C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56DA21BC1D0C7CCE0087A1C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
